{% extends "adminapp/master.html" %}
{% load static %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">

        <div class="d-flex align-items-center gap-2 col-lg-12">
            <form method="GET" action="{% url 'course_enrollment_data' %}" class="d-flex align-items-center gap-2 col-lg-9">
                <input type="text" name="search" placeholder="Search by student name, course name, or course type" value="{{ search_query }}" class="form-control">
                <select name="month" class="form-control w-25">
                    <option value="None">Select Month</option>
                    {% for m in months %}
                        <option value="{{ m }}" {% if m == selected_month %}selected{% endif %}>{{ m }}</option>
                    {% endfor %}
                </select>
                
                <select name="select" class="form-control" id="dropdownYear" style="width: 120px;">
                    <!-- Year options will be loaded by JavaScript -->
                </select>
                
                <button type="submit" class="btn btn-dark d-flex align-items-center gap-2">
                    <i class="fa-solid fa-magnifying-glass"></i> Search
                </button>
            </form>
            <form method="GET" action="{% url 'generate_course_enrollment_pdf' %}" target="_blank">
                <input type="hidden" name="search" value="{{ search_query }}">
                <input type="hidden" name="month" value="{{ selected_month }}">
                <input type="hidden" name="select" value="{{ selected_year }}">
                <button type="submit" class="btn btn-danger">
                    <i class="fa-solid fa-file-pdf"></i> Download PDF Report
                </button>
            </form>
        </div>
        
        

        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4"><a href="{% url "adminIndex" %}"><i class="fa-solid fa-arrow-left"></i> Back</a> Dashboard</h6>
                <h4 class="mb-4">Course Enrollment Details</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Student Name</th>
                            <th scope="col">Course Name</th>
                            <th scope="col">Course Type</th>
                            <th scope="col">Payment Status</th>
                            <th scope="col">Course Status</th>
                            <th scope="col">Payment ID</th>
                            <th scope="col">Order ID</th>
                            <th scope="col">Date Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if course_enrollment_data %}
                            {% for course_data in course_enrollment_data %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{course_data.student_id.username}}</td>
                                    <td>{{course_data.course_id.course_name}}</td>
                                    <td>
                                        {% if course_data.course_id.course_type == "Free" %}
                                            {{course_data.course_id.course_type}}
                                        {% else %}
                                            {{course_data.course_id.course_type}} <br>
                                            [ {{course_data.course_id.course_charges}} ₹ ]
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if course_data.is_payment_received %}
                                            <p class="text-success d-flex align-items-center justify-content-center gap-1"><i class="fa-solid fa-circle-check"></i></p>
                                        {% else %}
                                            <p class="text-center fw-bold">-</p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if course_data.is_course_completed %}
                                            <p class="text-success text-center d-flex align-items-center justify-content-center gap-1"><i class="fa-solid fa-circle-check"></i></p>
                                        {% else %}
                                            <p class="text-danger text-center d-flex align-items-center justify-content-center gap-1"><i class="fa-solid fa-circle-xmark"></i></p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if course_data.razorpay_payment_id %}
                                            {{course_data.razorpay_payment_id}}
                                        {% else %}
                                            <p class="text-center fw-bold">-</p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if course_data.razorpay_payment_id %}
                                            {{course_data.razorpay_order_id}}
                                        {% else %}
                                            <p class="text-center fw-bold">-</p>
                                        {% endif %}
                                        </td>
                                    <td>{{course_data.date_time}}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="7" class="text-center fw-bold ">
                                    No Data Found
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>

                <div class="pagination d-flex align-items-center gap-4">
                    {% if course_enrollment_data.has_previous %}
                        <a href="?search={{ search_query }}&page=1" class="btn btn-secondary">First</a>
                        <a href="?search={{ search_query }}&page={{ course_enrollment_data.previous_page_number }}" class="btn btn-secondary">Previous</a>
                    {% endif %}
                
                    <span class="current-page">Page {{ course_enrollment_data.number }} of {{ course_enrollment_data.paginator.num_pages }}</span>
                
                    {% if course_enrollment_data.has_next %}
                        <a href="?search={{ search_query }}&page={{ course_enrollment_data.next_page_number }}" class="btn btn-secondary">Next</a>
                        <a href="?search={{ search_query }}&page={{ course_enrollment_data.paginator.num_pages }}" class="btn btn-secondary">Last</a>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $('#dropdownYear').each(function() {
        var year = (new Date()).getFullYear();
        var current = year;
        var selectedYear = "{{ selected_year }}";
    
        for (var i = -1; i < 6; i++) {
            var yearValue = year + i;
            if (yearValue.toString() === selectedYear) {
                $(this).append('<option selected value="' + yearValue + '">' + yearValue + '</option>');
            } else {
                $(this).append('<option value="' + yearValue + '">' + yearValue + '</option>');
            }
        }
    });
    
</script>
{% endblock %}