{% extends "adminapp/master.html" %}
{% load static %}
{% block content %}

    <!-- Table Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-12">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Developers Table</h6>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Username</th>
                                <th scope="col">Company Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Contact</th>
                                <th scope="col">Experience</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dev_data in dev_details %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{dev_data.username}}</td>
                                    <td>{{dev_data.company_name}}</td>
                                    <td>{{dev_data.email}}</td>
                                    <td>{{dev_data.contact}}</td>
                                    <td>{{dev_data.experience}}</td>
                                    {% if dev_data.is_verified == True %}
                                        <td class="d-flex align-items-center gap-1 text-success"><i class="fa-solid fa-certificate"></i> Authorized</td>
                                    {% else %}
                                        <td class="d-flex align-items-center gap-1 text-danger"><i class="fa-solid fa-ban"></i> Unauthorized</td>
                                    {% endif %}
                                    <td class="d-flex align-items-center justify-content-center gap-2">
                                        {% if dev_data.is_verified != True %}
                                            <form method="POST" action="{% url 'authorize_dev' dev_data.id %}">
                                                {% csrf_token %}
                                                <button class="btn btn-success">Authorize</button>
                                            </form>
                                            <form method="post" action="{% url 'deleteDev' dev_data.id %}">
                                                {% csrf_token %}
                                                <button class="btn btn-danger">Delete</button>
                                            </form>
                                        {% else %}
                                            <form method="post" action="{% url 'unauthorize_dev' dev_data.id %}">
                                                {% csrf_token %}
                                                <button class="btn btn-warning">Remove Permissions</button>
                                            </form>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Table End -->
{% endblock %}  