{% extends "adminapp/master.html" %}
{% load static %}
{% block content %}
        
        <!-- Sale & Revenue Start -->
        {% comment %} first row {% endcomment %}
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-3">
                        <a href="{% url "studentTable" %}">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            {% comment %} <i class="fa fa-chart-line fa-3x text-primary"></i> {% endcomment %}
                            <i class="fa-solid fa-users fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Manage Students</p>
                                <h6 class="mb-0">{{ totalStudents }}</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <a href="{% url "manage_online_session_table" %}">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            {% comment %} <i class="fa fa-chart-bar fa-3x text-primary"></i> {% endcomment %}
                            <i class="fa-solid fa-person-chalkboard fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Manage Online Sessions</p>
                                <h6 class="mb-0">{{totalOnlineClasses}}</h6>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="col-sm-6 col-xl-3">
                    <a href="{% url "quiz_category_list_table" %}">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa-solid fa-network-wired fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Manage Quiz Category</p>
                            <h6 class="mb-0">{{totalQuiz}}</h6>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <a href="{% url "course_enrollment_data" %}">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa-regular fa-file-lines fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">View Course Enrollments</p>
                                <h6 class="mb-0">{{totalCourseEnrollmentData}}</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        {% comment %} second row {% endcomment %}
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-3">
                    <a href="{% url "dev_list_table" %}">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa-solid fa-users-between-lines fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Manage Developers</p>
                                <h6 class="mb-0">{{totalDevelopers}}</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <a href="{% url "shortlisted_student_detail" %}">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            {% comment %} <i class="fa fa-chart-bar fa-3x text-primary"></i> {% endcomment %}
                            <i class="fa-solid fa-list-check fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Manage Shortlisting</p>
                                <h6 class="mb-0">{{totalShortlistedStudentData}}</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <a href="{% url "contact_details" %}">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            {% comment %} <i class="fa fa-chart-area fa-3x text-primary"></i> {% endcomment %}
                            <i class="fa-solid fa-clipboard-question fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Manage Contact/Queries</p>
                                <h6 class="mb-0">{{totalContactDetails}}</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <a href="{% url "feedback_table" %}">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            {% comment %} <i class="fa fa-chart-pie fa-3x text-primary"></i> {% endcomment %}
                            <i class="fa-regular fa-message fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Manage Feedbacks</p>
                                <h6 class="mb-0">{{totalFeedbacks}}</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-3">
                    <a href="{% url "issued_certificate_detail" %}">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa-solid fa-certificate fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">View Issued Certificates</p>
                                <h6 class="mb-0">{{totalIssuedCertificates}}</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
{% endblock %}