{% extends "adminapp/master.html" %}
{% load static %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">

        <div>
            <form method="GET" action="{% url 'issued_certificate_detail' %}" class="d-flex align-items-center gap-2 col-lg-10">
                <input type="text" name="search" placeholder="Search by student name, course name, course type, or digital signature" value="{{ search_query }}" class="form-control">
                <button type="submit" class="btn btn-dark d-flex align-items-center gap-2">
                    <i class="fa-solid fa-magnifying-glass"></i> Search
                </button>
            </form>
        </div>
        
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4"><a href="{% url "adminIndex" %}"><i class="fa-solid fa-arrow-left"></i> Back</a> Dashboard</h6>
                <h4 class="mb-4">Issued Certificate Details</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Student Name</th>
                            <th scope="col">Course Name</th>
                            <th scope="col">Digital Signature</th>
                            <th scope="col">Course Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for issued_certificate in issued_certificate_data %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ issued_certificate.student_id.first_name }} {{ issued_certificate.student_id.last_name }}</td>
                                <td>{{ issued_certificate.course_id.course_name }}</td>
                                <td>{{ issued_certificate.digital_signature }}</td>
                                <td>{{ issued_certificate.course_id.course_type }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="pagination d-flex align-items-center gap-4">
                    {% if issued_certificate_data.has_previous %}
                        <a href="?search={{ search_query }}&page=1" class="btn btn-secondary">First</a>
                        <a href="?search={{ search_query }}&page={{ issued_certificate_data.previous_page_number }}" class="btn btn-secondary">Previous</a>
                    {% endif %}
                
                    <span class="current-page">Page {{ issued_certificate_data.number }} of {{ issued_certificate_data.paginator.num_pages }}</span>
                
                    {% if issued_certificate_data.has_next %}
                        <a href="?search={{ search_query }}&page={{ issued_certificate_data.next_page_number }}" class="btn btn-secondary">Next</a>
                        <a href="?search={{ search_query }}&page={{ issued_certificate_data.paginator.num_pages }}" class="btn btn-secondary">Last</a>
                    {% endif %}
                </div>
                

            </div>
        </div>
    </div>
</div>
{% endblock %}