{% extends "adminapp/master.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-12">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">
                        <a href="{% url "adminIndex" %}"><i class="fa-solid fa-arrow-left"></i> Back </a>
                        Dashboard</h6>
                    <h4 class="mb-4">Manage Online Certification Course</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Developer Name</th>
                                <th scope="col">Course Name</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Course Type</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in course_data %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{course.dev_id}}</td>
                                    <td>{{course.course_name}}</td>
                                    <td>{{course.course_duration}}</td>
                                    <td>{{course.course_type}}</td>
                                    <td>
                                        <a href="{% url "delete_course" course.id %}" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>


                    <div class="pagination d-flex align-items-center gap-4">
                        {% if course_data.has_previous %}
                            <a href="?page=1" class="btn btn-secondary">First</a>
                            <a href="?page={{ course_data.previous_page_number }}" class="btn btn-secondary">Previous</a>
                        {% endif %}

                        <span class="current-page">Page {{ course_data.number }} of {{ course_data.paginator.num_pages }}</span>

                        {% if course_data.has_next %}
                            <a href="?page={{ course_data.next_page_number }}" class="btn btn-secondary">Next</a>
                            <a href="?page={{ course_data.paginator.num_pages }}" class="btn btn-secondary">Last</a>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %} 