{% extends "adminapp/master.html" %}
{% load static %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">
                    <a href="{% url "quiz_category_list_table" %}"><i class="fa-solid fa-arrow-left"></i> Back</h6></a>
                <h4 class="mb-4">Quiz Review</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Question</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for question_detail in data %}
                            <tr>
                                <th rowspan="2" scope="row">{{question_detail.id}}</th>
                                <td>{{question_detail.quiz_question}}</td>
                                <th rowspan="2" scope="row">
                                    <a class="btn btn-danger">Delete</a>
                                </th>
                            </tr>
                            <tr>
                                <td>A B C D</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}