{% extends "adminapp/master.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-12">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">
                        <a href="{% url "quiz_category_list_table" %}"><i class="fa-solid fa-arrow-left"></i> Back</a>
                        Quiz Attempt Student Details</h6>
                    <h4 class="mb-4">{{quiz_data.quiz_category_name}} [ {{quiz_data.quiz_level}} ]</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Student Name</th>
                                <th scope="col">Date/Time</th>
                                <th scope="col">Score</th>
                                {% comment %} <th scope="col">Action</th> {% endcomment %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for AQD in data %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{AQD.student_id}}</td>
                                    <td>{{AQD.date_time}}</td>
                                    <td>{{AQD.score}} / 
                                        {{total_questions}}
                                    </td>
                                    {% comment %} <td>
                                        <a href="{% url "delete_quiz_attempt" AQD.id %}" class="btn btn-danger">Delete</a>
                                    </td> {% endcomment %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>


                    <div class="pagination d-flex align-items-center gap-4">
                        {% if data.has_previous %}
                            <a href="?page=1" class="btn btn-secondary">First</a>
                            <a href="?page={{ data.previous_page_number }}" class="btn btn-secondary">Previous</a>
                        {% endif %}

                        <span class="current-page">Page {{ data.number }} of {{ data.paginator.num_pages }}</span>

                        {% if data.has_next %}
                            <a href="?page={{ data.next_page_number }}" class="btn btn-secondary">Next</a>
                            <a href="?page={{ data.paginator.num_pages }}" class="btn btn-secondary">Last</a>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %} 