{% extends "devapp/master.html" %}
{% load static %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4 d-flex align-items-center justify-content-center p-3">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">
                    <a href="{% url "online_session_table" %}"><i class="fa-solid fa-arrow-left"></i> Back</a>
                    Session Attempted Student Data</h6>
                <h4 class="mb-4">[ {{session_data.topic_name}} ]</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Student Name</th>
                            <th scope="col">Student Email</th>
                            <th scope="col">Date/Time</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ASD in attempted_session_data %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{ASD.student_name}}</td>
                                <td>{{ASD.student_name.email}}</td>
                                <td>{{ASD.date_time}}</td>
                                <td>{{ASD.is_attempted}}</td>
                                <td>
                                    <a href="" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="pagination d-flex align-items-center gap-4">
                    {% if attempted_session_data.has_previous %}
                        <a href="?page=1" class="btn btn-secondary">First</a>
                        <a href="?page={{ attempted_session_data.previous_page_number }}" class="btn btn-secondary">Previous</a>
                    {% endif %}

                    <span class="current-page">Page {{ attempted_session_data.number }} of {{ attempted_session_data.paginator.num_pages }}</span>

                    {% if attempted_session_data.has_next %}
                        <a href="?page={{ attempted_session_data.next_page_number }}" class="btn btn-secondary">Next</a>
                        <a href="?page={{ attempted_session_data.paginator.num_pages }}" class="btn btn-secondary">Last</a>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}