{% extends "devapp/master.html" %}
{% load static %}
{% block content %}
<head>
    <style>
        pre{
            font-family: Poppins;
        }
    </style>
</head>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4 d-flex align-items-center justify-content-center p-3">
        <div class="col-sm-12 col-xl-10">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">
                    <a href="{% url "add_course_items" module_content_data.stage_id.id %}"><i class="fa-solid fa-arrow-left"></i> Back</a>
                </h6>
                <h4 class="mb-4">Documentation Name : [ {{module_content_data.documentation_name}} ]</h4>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Course Documentation</th>
                            <td>
                                {% if module_content_data.course_documentation %}
                                    <pre>
                                        <textarea class="form-control" rows="15" readonly>{{module_content_data.course_documentation}}</textarea>
                                    </pre>
                                {% else %}
                                No Documentation Found
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Course Images</th>
                            <td>
                                {% if module_content_data.course_images %}
                                    <img src="{{module_content_data.course_images.url}}" width="450px">
                                {% else %}
                                    No Image Found
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Course PDF</th>
                            <td>
                                {% if module_content_data.course_pdf %}
                                    {{module_content_data.course_pdf}}
                                {% else %}
                                No PDF Found
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Course Video</th>
                            <td>
                                {% if module_content_data.course_video %}
                                    <video class="w-75" controls>
                                        <source src="{{module_content_data.course_video.url}}" type="video/mp4">
                                    </video>
                                {% else %}
                                No Video Found
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Course Quiz</th>
                            <td>
                                {% if module_content_data.course_quiz %}
                                    <a href="{% url "add_options" module_content_data.course_quiz.id %}">{{module_content_data.course_quiz.quiz_category_name}}</a>
                                {% else %}
                                No Quiz Found
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}