{% extends "devapp/master.html" %}
{% load static %}
{% block content %}

<section class="p-5 h-custom bg-light">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-8">
          <div class="card rounded-3 shadow-lg">
              <div class="card-body p-4 p-md-5">
                <h6><a href="{% url "student_course_query_table" %}"><i class="fa-solid fa-arrow-left"></i> Back</a></h6>
              <h3 class="mb-3 px-md-2">Response To Student Query</h3>

              <form class="px-md-2" method="post">
                {% csrf_token %}
                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form3Example1q">Student Name</label>
                    <input type="text" value="{{student_query_data.student_id.username}}" id="form3Example1q" class="form-control" readonly />
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form3Example1q">Course Name</label>
                    <input type="text" value="{{student_query_data.course_name.course_name}}" id="form3Example1q" class="form-control" readonly />
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form3Example1q">Topic Name</label>
                    <input type="text" value="{{student_query_data.document_name.documentation_name}}" id="form3Example1q" class="form-control" readonly />
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form3Example1q">Student Query</label>
                    <textarea id="" class="form-control" readonly>{{student_query_data.student_query_content}}</textarea>
                </div>  

                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form3Example1q">Write Here Response</label>
                    <textarea name="response_content" id="" class="form-control"></textarea>
                </div>
                
                <button type="submit" class="btn btn-success w-100">Submit</button>
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}