<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12">
            <h1 class="text-center">Edit Profile</h1>
            <div class="card card-registration card-registration-2" style="border-radius: 15px;">
              <div class="card-body p-0">
                {% comment %} form tag start  {% endcomment %}
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}  
                  <div class="row g-0 text-white">
                      {% comment %} left side form section {% endcomment %}
                      <div class="col-lg-6 bg-dark" style="border-top-left-radius:10px;border-bottom-left-radius:10px;">
                        <div class="p-5">
                          <h3 class="fw-normal mb-5" style="color: #fff;">General Infomation</h3>
                          
                          <div class="row">
                            <div class="col-md-6 mb-4 pb-2">
                              <div data-mdb-input-init class="form-outline">
                                <input type="text" name="first_name" value="{{dev_data.first_name}}" id="form3Examplev2" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Examplev2">First Name</label>
                              </div>
                            </div>
    
                            <div class="col-md-6 mb-4 pb-2">
                              <div data-mdb-input-init class="form-outline">
                                <input type="text" name="last_name" value="{{dev_data.last_name}}" id="form3Examplev2" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Examplev2">Last Name</label>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12 mb-4 pb-2">
                              <div data-mdb-input-init class="form-outline">
                                <input type="text" name="username" value="{{dev_data.username}}" id="form3Examplev2" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Examplev2">Username</label>
                              </div>
                              {{exist_dev_alert}}
                            </div>
    
                          </div>
        
                          <div class="row">
                            <div class="col-md-12 mb-4 pb-2">
                              <div data-mdb-input-init class="form-outline">
                                <input type="email" name="email" value="{{dev_data.email}}" id="form3Examplev2" class="form-control form-control-lg" readonly /> 
                                <label class="form-label" for="form3Examplev2">Email</label>
                              </div>
                            </div>
                          </div>
    
                          <div class="row">
                            <div class="col-md-12 mb-4 pb-2">
                              <div data-mdb-input-init class="form-outline">
                                <input type="tel" name="contact" value="{{dev_data.contact}}" id="form3Examplev2" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Examplev2">Contact</label>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                              <div class="col-md-12 mb-4 pb-2">
                                <div data-mdb-input-init class="form-outline">
                                  <input type="text" name="company_name" value="{{dev_data.company_name}}" id="form3Examplev2" class="form-control form-control-lg" />
                                  <label class="form-label" for="form3Examplev2">Company Name</label>
                                </div>
                              </div>
                            </div>
        
                        </div>
                      </div>
    
                      {% comment %} right side form section {% endcomment %}
                      <div class="col-lg-6 text-white" style="border-top-right-radius:10px;border-bottom-right-radius:10px;background:rgb(71, 81, 222)">
                        <div class="p-5">
                          <h3 class="fw-normal mb-5" style="color:#fff">Developer Bio Details</h3>
        
                          <div class="mb-4 pb-2">
                            <div data-mdb-input-init class="form-outline form-white">
                              <input type="text" name="bio_title" value="{{dev_data.bio_title}}" id="form3Examplea2" class="form-control form-control-lg" />
                              <label class="form-label" for="form3Examplea2">Bio Title</label>
                            </div>
                          </div>

                          <div class="mb-4 pb-2">
                              <div data-mdb-input-init class="form-outline form-white">
                                  <textarea name="bio_detail" class="form-control" rows="2" style="resize:none">{{dev_data.bio_detail}}</textarea>
                                  <label class="form-label" for="form3Examplev5">Bio Detail</label>
                              </div>
                          </div>
        
                          <div class="mb-4 pb-2">
                            <div data-mdb-input-init class="form-outline form-white">
                              <input type="text" value="{{dev_data.experties}}" name="experties" id="form3Examplea3" class="form-control form-control-lg" />
                              <label class="form-label" for="form3Examplea3">Experties</label>
                            </div>
                          </div>
                               
                          <div class="row">
                            <div class="col-md-5 mb-4 pb-2">
        
                              <div data-mdb-input-init class="form-outline form-white">
                                <label class="form-label" for="form3Examplea4">Experience</label>
                                <select name="experience" class="form-control" id="">
                                  <option {% if dev_data.experience == "1 Year" %}selected{% endif %} value="1 Year">1 Year</option>
                                  <option {% if dev_data.experience == "2 Year" %}selected{% endif %} value="2 Year">2 Year</option>
                                  <option {% if dev_data.experience == "3 Year" %}selected{% endif %} value="3 Year">3 Year</option>
                                  <option {% if dev_data.experience == "5 Year" %}selected{% endif %} value="5 Year">5 Year</option>
                                  <option {% if dev_data.experience == "More then 5 year" %}selected{% endif %} value="More then 5 year">More then 5 year</option>
                              </select>
                              </div>
        
                            </div>
                            <div class="col-md-6 mb-4 pb-2">
        
                              <div data-mdb-input-init class="form-outline form-white">
                                <label class="form-label" for="form3Examplea4">Upload Your Image</label>
                                <input type="file" name="dev_img" id="" class="form-control">
                              </select>
                              </div>
        
                            </div>
                          </div>
        
                          <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg"
                            data-mdb-ripple-color="dark">Save</button>
        
                        </div>
                      </div>    
                  </div>
  
                </form>
                {% comment %} form tag close {% endcomment %}
  
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>