{% extends "studentapp/course-enrollments.html" %}
{% load static %}
{% block course_content %}

<div class="p-4 border rounded border-light shadow-lg">
    <h3>{{course_document_content_data.documentation_name}}</h3>
    <b>Course Documentation</b>
    <p>{{course_document_content_data.course_documentation}}</p>
    <p>
        {% if course_document_content_data.course_images %}
            <div class="d-flex align-items-center justify-content-center">
                <img src="{{course_document_content_data.course_images.url}}" width="350px" alt="">
            </div>
        {% endif %}    
    </p>
    <p>
        {% if course_document_content_data.course_video %}
            <div class="d-flex align-items-center justify-content-center w-full">
                <video src="{{course_document_content_data.course_video.url}}" width="100%" alt="" type="video/mp4" controls>
            </div>
        {% endif %}    
    </p>
    <p>
        {% if course_document_content_data.course_quiz %}
            {% if quiz_questions_options %}
                <form method="post" class="d-flex flex-column gap-4 align-items-center justify-content-center">
                    {% csrf_token %}

                        {% for question_data in quiz_questions_options %}
                            <div class="col-sm-12 col-xl-12">
                                <div class="bg-light rounded h-100 p-4">
                                    <h6 class="mb-4">Question {{ forloop.counter }}</h6>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <td scope="col">
                                                    {{ question_data.question.quiz_question }} <br>
                                                    {% if question_data.question.quiz_question_summary %}
                                                        <pre class="px-3">{{ question_data.question.quiz_question_summary }}</pre>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="container p-3 rounded">
                                                        <div class="row">
                                                            {% for option in question_data.options %}
                                                                <div class="col-md-6 mb-2">
                                                                    <div class="p-2 rounded bg-white d-flex align-items-center">
                                                                        <input 
                                                                            type="radio" 
                                                                            name="user_choice_{{ question_data.question.id }}" 
                                                                            value="{{ option }}" 
                                                                            class="me-2">
                                                                        <label class="m-0">{{ option }}</label>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="container d-flex align-items-center justify-content-center p-5">
                            <button type="submit" class="btn btn-success px-5">Finish Quiz</button>
                        </div>

                        {% if score is not None %}
                            <div class="text-center mt-4">
                                <h4>Your Score: {{ score }}/{{ quiz_questions_options|length }}</h4>
                            </div>
                        {% endif %}
                </form>
            {% endif %}
        {% endif %}

    </p>
    <div class="d-flex align-items-center justify-content-between">
        {% comment %} <a href="{% url "previous_documentation" course_data_id course_document_content_data.id %}" class="btn btn-secondary">Prev</a> {% endcomment %}
            {% if not is_first_content %}
            <a href="{% url "previous_documentation" course_data_id course_document_content_data.id %}" class="btn btn-secondary">Prev</a>
            {% endif %}
            {% if not is_last_content %}
                <a href="{% url "next_documentation" course_data_id course_document_content_data.id %}" class="btn btn-success">Next</a>
            {% endif %}
        {% comment %} <a href="{% url "next_documentation" course_data_id course_document_content_data.id %}" class="btn btn-success">Next</a> {% endcomment %}
    </div>

    <div class="d-flex align-items-center justify-content-center pt-3">
        <a href="{% url "student_course_query_form" course_data_id course_document_content_data.id %}" class="w-50 btn btn-secondary">Any Query</a>
    </div>

</div>

{% endblock %}