{% extends "studentapp/master.html" %}
{% load static %}
{% block content %}
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Courses</h1>
              <p class="mb-0">Are you ready to take your skills to the next level? The Career Linker (TCL) brings you exclusive Online Certification Courses designed to equip you with industry-relevant expertise from top professionals. Whether you're a student, job seeker, or working professional, our courses provide the perfect platform to learn, grow, and succeed from anywhere in the world!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section id="courses" class="courses section">
      <div class="container">
      {% if course_enrollment_data %}
        <h4>Enrolled Courses</h4>
        <div class="row">
          {% for enrolled_course in course_enrollment_data %}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch p-2" data-aos="zoom-in" data-aos-delay="100">
              <div class="course-item">
                <img src="{{enrolled_course.course_id.course_thumbnail_image.url}}" class="img-fluid rounded" alt="...">
                <div class="course-content">
                  <h3><a href="{% url "course_enrollment" enrolled_course.course_id.id %}">{{enrolled_course.course_id.course_name}}</a></h3>
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <p class="price">{{enrolled_course.course_id.course_type}} ₹{{enrolled_course.course_id.course_charges}}/-</p>
                    {% if enrolled_course.is_course_completed %}
                      <a href="{% url "view_certificate" enrolled_course.course_id.id %}" class="btn btn-primary">View Certificate</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}

        <div class="row">
          {% for course in course_data %}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch p-2" data-aos="zoom-in" data-aos-delay="100">
              <div class="course-item">
                <img src="{{course.course_thumbnail_image.url}}" class="img-fluid rounded" alt="...">
                <div class="course-content">
                  <h3><a href="#">{{course.course_name}}</a></h3>
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <a href="{% url "course_details" course.id %}" class="btn category">More Info</a>
                    <p class="price">{{course.course_type}} ₹{{course.course_charges}}/-</p>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>
    </section>
  {% endblock %}