{% extends "studentapp/master.html" %}
{% load static %}
{% block content %}
    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading bg-dark"style="background-image: url('{{ course_details.course_thumbnail_image.url }}');
      height:250px;
      background-size: cover;background-position: center;background-repeat: no-repeat;opacity: 0.7;z-index: 0;">
      </div>
    </div><!-- End Page Title -->

    <!-- Courses Course Details Section -->
    <section id="courses-course-details" class="courses-course-details section">

      <div class="container" data-aos="fade-up">
        <p class="fw-bold"><a href="{% url "courses" %}"><i class="fa-solid fa-arrow-left"></i> Back</a> <u>Courses</u></p>
        <div class="row">
          <div class="col-lg-8">
            <h3>{{course_details.course_name}}</h3>
            <p>{{course_details.course_summary}}</p>
          </div>
          <div class="col-lg-4">

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Course Provider</h5>
              <p>{{course_details.dev_id.company_name}}</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Trainer</h5>
              <p>{{course_details.dev_id.username}}</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Course Duration</h5>
              <p>{{course_details.course_duration}}</p>
            </div>

            {% if course_details.course_type == "Free" %}
              <div class="course-info d-flex justify-content-between align-items-center">
                <h5>Course Type</h5>
                <p>{{course_details.course_type}}</p>
              </div>
            {% else %}
              <div class="course-info d-flex justify-content-between align-items-center">
                <h5>Course Type</h5>
                <p>{{course_details.course_type}}</p>
              </div>
            {% endif %}
            {% comment %} <div class="course-info d-flex justify-content-between align-items-center">
              <a href="{% url "course_enrollment" course_details.id %}" class="btn btn-primary w-100 text-light">Enroll Now</a>
            </div> {% endcomment %}
            {% if course_details.course_type == "Free" %}
              <div class="course-info d-flex justify-content-between align-items-center">
                <a href="{% url 'course_enrollment' course_details.id %}" class="btn btn-success w-100 text-light">Enroll Now</a>
              </div>
            {% else %}
              {% if user.is_authenticated %}
                {% if enrollment and enrollment.is_payment_received == True %}
                  <div class="course-info d-flex justify-content-between align-items-center">
                    <a href="{% url 'course_enrollment' course_details.id %}" class="btn btn-success w-100 text-light">Enroll Now</a>
                  </div>
                {% else %}
                  <div class="course-info d-flex justify-content-between align-items-center">
                    <h5>Course Fees</h5>
                    <p>₹ {{ course_details.course_charges }}/-</p>
                  </div>
                  <div class="course-info d-flex justify-content-between align-items-center">
                    <form id="payment-form" method="post">
                      {% csrf_token %}
                      <script 
                        src="https://checkout.razorpay.com/v1/checkout.js"
                        data-key="{{ RAZORPAY_KEY_ID }}"
                        data-amount="{{ course_details.course_charges|floatformat:0 }}"
                        data-currency="INR"
                        data-order_id="{{ razorpay_order_id }}"
                        data-buttontext="Buy Now"
                        data-name="The Career Linker"
                        data-description="Enroll in {{ course_details.course_name }}"
                        data-theme.color="#F37254"
                        data-callback-handler="handlePaymentSuccess">
                      </script>
                    </form>
                  </div>
                {% endif %}
              {% else %}
                <div class="course-info d-flex justify-content-between align-items-center">
                  <a href="{% url 'login' %}" class="btn btn-warning w-100 text-light">Login to Buy</a>
                </div>
              {% endif %}
            {% endif %}

          
          </div>
        </div>

      </div>

    </section>

    
    <section id="tabs" class="tabs section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row">
          <h2 class="fw-bold">Course Details</h2>
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column" id="moduleTabs">
              {% for module_data in course_module_data %}
                <li class="nav-item">
                  <a class="nav-link {% if forloop.first %}active{% endif %}" 
                    data-bs-toggle="tab" 
                    href="#module-{{ module_data.id }}">
                    {{ module_data.module_name }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              {% for module_data in course_module_data %}
                <div class="tab-pane {% if forloop.first %}active show{% endif %}" 
                    id="module-{{ module_data.id }}">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>{{ module_data.module_name }}</h3>
                      <ul>
                          {% if module_data.id in module_stage_data %}
                              {% for module_id, stages in module_stage_data.items %}
                                  {% if module_id == module_data.id %}
                                      {% for stage in stages %}
                                          <li class="text-dark">{{ stage.stage_name }}</li>
                                      {% endfor %}
                                  {% endif %}
                              {% endfor %}
                          {% else %}
                              <p>No stages available for this module.</p>
                          {% endif %}
                      </ul>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="{% static 'assets/img/tabs/tab-1.png' %}" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>


    <script>
      function handlePaymentSuccess(response) {
        alert("Payment successful! Enrollment confirmed.");
        location.reload();
    }
    </script>

  {% endblock %}