{% extends "studentapp/course-enrollments.html" %}
{% load static %}
{% block course_content %}

<div class="p-5">
    <h3>{{demo_course_content_data.documentation_name}}</h3>
    <b>Course Documentation</b>
    <p>{{demo_course_content_data.course_documentation}}</p>
    <p>
        {% if demo_course_content_data.course_images %}
            <img src="{{demo_course_content_data.course_images.url}}" width="300px" alt="">
        {% endif %}    
    </p>
    <p>
        {% if demo_course_content_data.course_video %}
            <video src="{{demo_course_content_data.course_video.url}}" width="300px" alt="" type="video/mp4" controls>
            {% comment %} <video controls width="100%"><source src="${doc.video}" type="video/mp4"></video> {% endcomment %}
        {% endif %}    
    </p>
    <div class="d-flex align-items-center justify-content-between">
        <a href="{% url "previous_documentation" course_data_id demo_course_content_data.id %}" class="btn btn-secondary">Prev</a>
        <a href="{% url "next_documentation" course_data_id demo_course_content_data.id %}" class="btn btn-success">Next</a>
    </div>
</div>

{% endblock %}