{% extends "studentapp/master.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="main-body">    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    {% if userdata.student_img %}
                      <img src="{{userdata.student_img.url}}" alt="user image" class="rounded shadow-lg p-2" width="150">
                      <a href="{% url "delete_profile_image" userdata.id %}" class="btn btn-danger mt-2"><i class="fa-solid fa-trash"></i> Delete Image</a>
                    {% else %}
                      <img src="{% static "assets/img/user3final.png" %}" alt="Admin" class="rounded-circle" width="150">
                    {% endif %}
                    <div class="mt-3">
                      <h4>{{userdata.username}}</h4>
                      <p class="text-secondary mb-1">{{userdata.email}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Institute Name</h6>
                    <span class="text-secondary">{{userdata.institute_name}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Course</h6>
                    <span class="text-secondary">{{userdata.course}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Resume</h6>
                    <span class="text-secondary">
                      <a href="{{ userdata.student_resume.url }}" class="text-decoration-underline" target="_blank">View Resume</a>
                    </span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Last Sem Marksheet</h6>
                    <span class="text-secondary">
                      <a href="{{ userdata.last_sem_marksheet.url }}" class="text-decoration-underline" target="_blank">View Marksheet</a>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Username</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userdata.username}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userdata.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userdata.contact}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{userdata.address}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info" href="{% url "update_profile" userdata.id %}">Edit</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">Enrolled Course Details</h6>
                      <div class="h-100 overflow-auto">
                        {% if enrolled_course_details %}
                          {% for course_data in enrolled_course_details %}
                            <div class="mb-1">
                              <small class="
                              {% if course_data.is_course_completed %}
                                border-bottom border-2 border-success 
                              {% else %} 
                                border-bottom border-2 border-danger 
                              {% endif %}">
                              {{forloop.counter}}] 
                              {{course_data.course_id.course_name}}
                              {% if course_data.is_course_completed %}
                                <i class="fa-solid fa-circle-check text-success"></i>
                              {% else %} 
                                <i class="fa-solid fa-clock text-danger"></i>
                              {% endif %}
                            </small>
                            </div>
                          {% endfor %}
                        {% else %}
                        <small>
                          <a href="{% url "courses" %}" class="btn btn-secondary w-100">Enroll Courses</a>
                        </small>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">Attempted Quiz</h6>
                      {% if quiz_attempted_data %}
                          {% for quiz_data in quiz_attempted_data %}
                            {% if quiz_data.quiz_category.is_course_quiz == False %}
                              <div class="d-flex flex-row align-items-center justify-content-between">
                                <p>{{quiz_data.quiz_category.quiz_category_name}} [ {{quiz_data.quiz_category.quiz_level}} ]</p>
                                <p>{{ quiz_data.score }} / 
                                  {% for quiz_category_id,total_questions in total_questions.items %}
                                    {% if quiz_category_id == quiz_data.quiz_category.id %}
                                      {{total_questions}}
                                    {% endif %}
                                  {% endfor %}
                                </p>
                              </div>
                            {% endif %}
                          {% endfor %}
                      {% else %}
                      <p>Not attempted any quiz</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
    </div>
{% endblock %}