{% extends "studentapp/master.html" %}
{% load static %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4 d-flex align-items-center justify-content-center p-3">
        <form method="post" class="d-flex flex-column gap-4 align-items-center justify-content-center">
            {% csrf_token %}

            {% for questions in data %}
                {% if questions.is_option_added %}
                    <div class="col-sm-12 col-xl-8">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Question {{ forloop.counter }}</h6>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td scope="col">
                                            {{ questions.quiz_question }} <br>
                                            <pre class="px-3">{{ questions.quiz_question_summary }}</pre>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        {% for option in options %}
                                            {% if option.question_id == questions %}
                                                <td scope="row">
                                                    <div class="d-flex align-items-center justify-content-center p-2 gap-5">
                                                        <div class="d-flex align-items-start justify-content-start flex-column gap-3">
                                                            <div>
                                                                <span class="text-secondary fw-bold">A.</span> 
                                                                <input 
                                                                    type="radio" 
                                                                    name="user_choice_{{ questions.id }}" 
                                                                    value="{{ option.option_1 }}">
                                                                {{ option.option_1 }}
                                                            </div>
                                                            <div>
                                                                <span class="text-secondary fw-bold">C.</span> 
                                                                <input 
                                                                    type="radio" 
                                                                    name="user_choice_{{ questions.id }}" 
                                                                    value="{{ option.option_3 }}">
                                                                {{ option.option_3 }}
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="d-flex align-items-start flex-column gap-3">
                                                            <div>
                                                                <span class="text-secondary fw-bold">B.</span> 
                                                                <input 
                                                                    type="radio" 
                                                                    name="user_choice_{{ questions.id }}" 
                                                                    value="{{ option.option_2 }}">
                                                                {{ option.option_2 }}
                                                            </div>
                                                            <div>
                                                                <span class="text-secondary fw-bold">D.</span> 
                                                                <input 
                                                                    type="radio" 
                                                                    name="user_choice_{{ questions.id }}" 
                                                                    value="{{ option.option_4 }}">
                                                                {{ option.option_4 }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="container d-flex align-items-center justify-content-center p-5">
                <button type="submit" class="btn btn-success px-5">Finish Quiz</button>
            </div>

            {% if score is not None %}
                <div class="text-center mt-4">
                    <h4>Your Score: {{ score }}/{{ total_questions }}</h4>
                </div>
            {% endif %}

            {% comment %} {% for questions in data %}
                {% if questions.is_option_added %}
                    <div class="col-sm-12 col-xl-8">
                        <div class="bg-light rounded h-100 p-4">
                            <form method="post">
                                {% csrf_token %} 
                                <h6 class="mb-4">Question 1</h6>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <td scope="col">{{questions.quiz_question}}</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            {% for option in options %}
                                                {% if option.question_id == questions %}
                                                    <td scope="row">
                                                        <div class="d-flex align-items-center justify-content-center p-2 gap-5">
                                                            <div class="d-flex align-items-start justify-content-start flex-column gap-3">
                                                                <div>
                                                                    <span class="text-secondary fw-bold">A.</span> 
                                                                    <input type="radio" name="user_choice" value="{{option.option_1}}" id="">
                                                                    {{option.option_1}}
                                                                </div>
                                                                <div>
                                                                    <span class="text-secondary fw-bold">C.</span> 
                                                                    <input type="radio" name="user_choice" value="{{option.option_3}}" id="">
                                                                    {{option.option_3}}
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="d-flex align-items-start flex-column gap-3">
                                                                <div>
                                                                    <span class="text-secondary fw-bold">B.</span> 
                                                                    <input type="radio" name="user_choice" value="{{option.option_2}}" id="">
                                                                    {{option.option_2}}
                                                                </div>
                                                                <div>
                                                                    <span class="text-secondary fw-bold">D.</span> 
                                                                    <input type="radio" name="user_choice" value="{{option.option_4}}" id="">
                                                                    {{option.option_4}}
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                                <input type="hidden" name="question_id" value="{{questions.id}}">
                                <button type="submit" class="btn btn-primary">Save</button> 
                            </form>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="container d-flex align-items-center justify-content-center p-5">
                <button type="submit" class="btn btn-success px-5">Finish Quiz</button>
            </div> {% endcomment %}
        </form>

    </div>
</div>
{% endblock %}